---
import { NAV_ITEMS } from '@/config';
import Heading from '@/components/Heading.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Interfaces VS Wild: Building safer interfaces with TypeScript and Functional Programming"
>
  <header class="header">
    <p class="author">
      José Manuel Lucas <span class="author__separator" role="separator">/</span
      >
      <a
        class="author__link"
        href="https://www.freepikcompany.com"
        target="_blank">Freepik Company</a
      >
      <span class="author__separator" role="separator">/</span>
      <a class="author__link" href="https://twitter.com/jmlweb" target="_blank"
        >@jmlweb</a
      >
    </p>
    <Heading level="1">Interfaces VS Wild</Heading>
    <Heading level="2">
      Building safer interfaces with TypeScript and <abbr
        title="Functional Programming">FP</abbr
      >
    </Heading>
  </header>
  <ol class="list">
    {
      NAV_ITEMS.map((item) => (
        <li class="list__item">
          <a class="list__link" href={item.href}>
            {item.title}
          </a>
        </li>
      ))
    }
  </ol>
</Layout>

<style>
  abbr {
    cursor: help;
  }

  .header {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lighter-gray);
  }

  .author {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-gray);
  }

  .author__link {
    color: var(--blue);
    font-weight: 600;
    text-decoration: underline;
  }

  .author__link:hover {
    color: var(--dark-blue);
  }

  .list {
    list-style: decimal-leading-zero inside;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }

  .list__item {
    color: var(--light-gray);
  }

  .list__link {
    color: var(--blue);
    font-weight: 600;
    display: inline-block;
    padding: 1.5rem 0;
    text-decoration: underline;
  }

  .list__link:hover {
    color: var(--dark-blue);
  }
</style>
